@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Baloo+Bhaina+2:wght@500&family=Nunito:wght@300&family=Roboto:wght@300&display=swap");
:root {
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff; 
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
  --color: #f9ca24;
  --font1: "Baloo Bhai 2", cursive;
  --font2: "Baloo Bhaina 2", cursive;
  --font3: "Nunito", sans-serif;
  --font4: "Roboto", sans-serif;
  --primary-color: #212121;
  --secondary-color:#edf2fc;
}

 /* section{
  background:black;

  min-height: 60vh;
  padding: 0.25rem;
  display: block; 
  opacity: 1; 
}  */

#about .row{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}
#about .row h3{
  /* color:var(--primary-color); */
  color: white;
  font-size: 2.5rem;
  padding: 2rem 5rem;
  margin: 1rem 5px;
  font-weight: bold;
  color: white;
}
#about .row p{
  font-size: 1.8rem;
  color: var(--primary-color);
  padding: 2rem 8rem;
}
#about .row .info{
  flex: 1 1 48rem;
  padding: 2rem 1rem;
  padding-left: 6rem;
}
#about .row .info h3{
  font-size: 2rem;
    color: darkviolet;
    padding: 1rem 0px;
    font-weight: bold;
}
#about .row .info h3 span{
  color:var(--primary-color);
  padding: 0 .8rem;
}
#about .row .counter{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1 1 48rem;
}
#about .row .counter .box{
width: 20rem;
background-color: var(--primary-color);
text-align: center;
padding: 1rem;
margin: 1rem;
}
#about .row .counter .box span{
  font-size: 4rem;
  color: var(--color);
}
#about .row .counter .box h3{
  font-size: 2rem;
  color: var(--secondary-color);
}

.btn{
    display: inline-block;
    padding: .5rem 3rem;
    background-color:var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
    border-radius: 5px solid #3c67e3;
    text-decoration: none;
}
.btn i{
    padding: 0  .4rem;
    font-size: 1.8rem;
}
.btn:hover{
    /* background-color:green; */
    color: green;
    animation: pulsate 1s 2 ease-in-out;
    
}