:root {
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
  --color: #f9ca24;
  --font1: "Baloo Bhai 2", cursive;
  --font2: "Baloo Bhaina 2", cursive;
  --font3: "Nunito", sans-serif;
  --font4: "Roboto", sans-serif;
  --primary-color: #212121;
  --secondary-color: #edf2fc;
}

.education .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 2rem;
  padding: 1rem 0;
}
.education .box-container .box {
  width: 20rem;
  margin: 5rem 1rem;
  padding-left: 1rem;
  border-left: 2px solid black;
  position: relative;
}
.education .box-container i {
  position: absolute;
  top: -1.9rem;
  left: -1.9rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  text-align: center;
  font-size: 1rem;
  color: var(--primary-color);
  background-color: var(--color);
  padding-top: 1.2rem;
  padding: 1.2rem 1rem;
}
.education .box-container .box h3 {
  font-size: 1.5rem;
  color: darkviolet;
  padding: 1rem 0px;
  font-weight: bold;
}
.education .box-container .box h3 span {
  color: var(--primary-color);
  padding: 0 0.8rem;
}
